
QuanLyKho-TT/.vs/QuanLyKho-TT/v16/.suo
QuanLyKho-TT/QuanLyKho-TT/bin/Debug/QuanLyKho-TT.exe
QuanLyKho-TT/QuanLyKho-TT/bin/Debug/QuanLyKho-TT.pdb
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.exe
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.pdb
QuanLyKho-TT/.vs/QuanLyKho-TT/v16/.suo
QuanLyKho-TT/QuanLyKho-TT/bin/Debug/QuanLyKho-TT.exe
QuanLyKho-TT/QuanLyKho-TT/bin/Debug/QuanLyKho-TT.pdb
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.csproj.GenerateResource.cache
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.csprojAssemblyReference.cache
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.exe
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.pdb
