
QuanLyKho-TT/.vs/QuanLyKho-TT/v16/.suo
QuanLyKho-TT/QuanLyKho-TT/bin/Debug/QuanLyKho-TT.exe
QuanLyKho-TT/QuanLyKho-TT/bin/Debug/QuanLyKho-TT.pdb
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.exe
QuanLyKho-TT/QuanLyKho-TT/obj/Debug/QuanLyKho-TT.pdb
