USE [master]
GO
/****** Object:  Database [QLKhoHang]    Script Date: 03/19/2020 23:13:08 ******/
CREATE DATABASE [QLKhoHang] ON  PRIMARY 
( NAME = N'QLKhoHang', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLKhoHang.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKhoHang_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLKhoHang_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKhoHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKhoHang]
GO
/****** Object:  Table [dbo].[INPUT]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUT](
	[Id] [nvarchar](128) NOT NULL,
	[InputDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[INPUT] ([Id], [InputDate]) VALUES (N'1', CAST(0x0000AB8200B42D00 AS DateTime))
INSERT [dbo].[INPUT] ([Id], [InputDate]) VALUES (N'2', CAST(0x0000AB8301487DC0 AS DateTime))
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ContactNum] [nvarchar](11) NULL,
	[Email] [nvarchar](max) NULL,
	[AddInfo] [nvarchar](max) NULL,
	[ContractDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON
INSERT [dbo].[CUSTOMER] ([Id], [DisplayName], [Address], [ContactNum], [Email], [AddInfo], [ContractDate]) VALUES (1, N'Chris', N'Hanoi', N'911', N'chris@gmail.com', NULL, NULL)
INSERT [dbo].[CUSTOMER] ([Id], [DisplayName], [Address], [ContactNum], [Email], [AddInfo], [ContractDate]) VALUES (2, N'My', N'Sapa', N'113', N'qa@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
/****** Object:  Table [dbo].[OUTPUT]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTPUT](
	[Id] [nvarchar](128) NOT NULL,
	[OutputDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OUTPUT] ([Id], [OutputDate]) VALUES (N'1', CAST(0x0000AB8201487DC0 AS DateTime))
INSERT [dbo].[OUTPUT] ([Id], [OutputDate]) VALUES (N'2', CAST(0x0000AB840082BCC0 AS DateTime))
/****** Object:  Table [dbo].[USERROLES]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USERROLES] ON
INSERT [dbo].[USERROLES] ([Id], [DisplayName]) VALUES (1, N'Admin')
INSERT [dbo].[USERROLES] ([Id], [DisplayName]) VALUES (3, N'Staff')
INSERT [dbo].[USERROLES] ([Id], [DisplayName]) VALUES (4, N'Customer')
SET IDENTITY_INSERT [dbo].[USERROLES] OFF
/****** Object:  Table [dbo].[UNIT]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UNIT] ON
INSERT [dbo].[UNIT] ([Id], [DisplayName]) VALUES (1, N'Kg')
INSERT [dbo].[UNIT] ([Id], [DisplayName]) VALUES (2, N'Thung')
INSERT [dbo].[UNIT] ([Id], [DisplayName]) VALUES (3, N'Bao')
SET IDENTITY_INSERT [dbo].[UNIT] OFF
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ContactNum] [nvarchar](20) NULL,
	[Email] [nvarchar](max) NULL,
	[AddInfo] [nvarchar](max) NULL,
	[ContractDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER] ON
INSERT [dbo].[SUPPLIER] ([Id], [DisplayName], [Address], [ContactNum], [Email], [AddInfo], [ContractDate]) VALUES (1, N'CompanyA', N'HoangQuocViet', N'0123456789', N'hqviet@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SUPPLIER] OFF
/****** Object:  Table [dbo].[USERS]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK__USERS__3214EC07145C0A3F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USERS] ON
INSERT [dbo].[USERS] ([Id], [DisplayName], [Username], [Password], [IdRole]) VALUES (1, N'Thanh Tung', N'admin', N'admin', 1)
INSERT [dbo].[USERS] ([Id], [DisplayName], [Username], [Password], [IdRole]) VALUES (2, N'Chris Phan', N'test', N'test', 3)
INSERT [dbo].[USERS] ([Id], [DisplayName], [Username], [Password], [IdRole]) VALUES (3, N'My', N'sapa', N'sapa', 4)
SET IDENTITY_INSERT [dbo].[USERS] OFF
/****** Object:  Table [dbo].[OBJECT]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[IdUnit] [int] NOT NULL,
	[IdSupplier] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OBJECT] ON
INSERT [dbo].[OBJECT] ([Id], [DisplayName], [IdUnit], [IdSupplier]) VALUES (1, N'Xi mang', 3, 1)
INSERT [dbo].[OBJECT] ([Id], [DisplayName], [IdUnit], [IdSupplier]) VALUES (2, N'Gach', 2, 1)
SET IDENTITY_INSERT [dbo].[OBJECT] OFF
/****** Object:  Table [dbo].[INPUTINFO]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUTINFO](
	[Id] [nvarchar](128) NOT NULL,
	[IdObject] [int] NOT NULL,
	[IdInput] [nvarchar](128) NOT NULL,
	[Count] [int] NULL,
	[InputPrice] [float] NULL,
	[OutputPrice] [float] NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[INPUTINFO] ([Id], [IdObject], [IdInput], [Count], [InputPrice], [OutputPrice], [Status]) VALUES (N'1', 1, N'1', 50, 200000, 400000, NULL)
INSERT [dbo].[INPUTINFO] ([Id], [IdObject], [IdInput], [Count], [InputPrice], [OutputPrice], [Status]) VALUES (N'2', 2, N'1', 1000, 200, 500, NULL)
/****** Object:  Table [dbo].[OUTPUTINFO]    Script Date: 03/19/2020 23:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTPUTINFO](
	[Id] [nvarchar](128) NOT NULL,
	[IdObject] [int] NOT NULL,
	[IdInputInfo] [nvarchar](128) NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[Count] [int] NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[OUTPUTINFO] ([Id], [IdObject], [IdInputInfo], [IdCustomer], [Count], [Status]) VALUES (N'1', 1, N'1', 1, 10, NULL)
INSERT [dbo].[OUTPUTINFO] ([Id], [IdObject], [IdInputInfo], [IdCustomer], [Count], [Status]) VALUES (N'2', 2, N'2', 2, 200, NULL)
/****** Object:  Default [DF__INPUTINFO__Input__1ED998B2]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[INPUTINFO] ADD  DEFAULT ((0)) FOR [InputPrice]
GO
/****** Object:  Default [DF__INPUTINFO__Outpu__1FCDBCEB]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[INPUTINFO] ADD  DEFAULT ((0)) FOR [OutputPrice]
GO
/****** Object:  ForeignKey [FK__USERS__IdRole__164452B1]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK__USERS__IdRole__164452B1] FOREIGN KEY([IdRole])
REFERENCES [dbo].[USERROLES] ([Id])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK__USERS__IdRole__164452B1]
GO
/****** Object:  ForeignKey [FK__OBJECT__IdSuppli__0DAF0CB0]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[OBJECT]  WITH CHECK ADD FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[SUPPLIER] ([Id])
GO
/****** Object:  ForeignKey [FK__OBJECT__IdUnit__0CBAE877]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[OBJECT]  WITH CHECK ADD FOREIGN KEY([IdUnit])
REFERENCES [dbo].[UNIT] ([Id])
GO
/****** Object:  ForeignKey [FK__INPUTINFO__IdInp__21B6055D]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[INPUTINFO]  WITH CHECK ADD FOREIGN KEY([IdInput])
REFERENCES [dbo].[INPUT] ([Id])
GO
/****** Object:  ForeignKey [FK__INPUTINFO__Statu__20C1E124]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[INPUTINFO]  WITH CHECK ADD FOREIGN KEY([IdObject])
REFERENCES [dbo].[OBJECT] ([Id])
GO
/****** Object:  ForeignKey [FK__OUTPUTINF__IdCus__2C3393D0]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[OUTPUTINFO]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([Id])
GO
/****** Object:  ForeignKey [FK__OUTPUTINF__IdInp__2B3F6F97]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[OUTPUTINFO]  WITH CHECK ADD FOREIGN KEY([IdInputInfo])
REFERENCES [dbo].[INPUTINFO] ([Id])
GO
/****** Object:  ForeignKey [FK__OUTPUTINF__Statu__2A4B4B5E]    Script Date: 03/19/2020 23:13:08 ******/
ALTER TABLE [dbo].[OUTPUTINFO]  WITH CHECK ADD FOREIGN KEY([IdObject])
REFERENCES [dbo].[OBJECT] ([Id])
GO
